// typography

h1 {
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888888888888888em;
  line-height: 1.2;
  vertical-align: baseline;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 28px;
}

p {
  margin-bottom: .75em;
  margin-top: 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}